<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DanhMucServlet</servlet-name>
        <servlet-class>control.DanhMucServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhMucConServlet</servlet-name>
        <servlet-class>control.DanhMucConServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiTietSanPhamServlet</servlet-name>
        <servlet-class>control.ChiTietSanPhamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GioHangServlet</servlet-name>
        <servlet-class>control.GioHangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOders</servlet-name>
        <servlet-class>control.addOdersControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadUsers</servlet-name>
        <servlet-class>control.loadUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DanhMucServlet</servlet-name>
        <url-pattern>/DanhMucServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhMucConServlet</servlet-name>
        <url-pattern>/DanhMucConServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiTietSanPhamServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GioHangServlet</servlet-name>
        <url-pattern>/GioHangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOders</servlet-name>
        <url-pattern>/addOders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadUsers</servlet-name>
        <url-pattern>/loadUsers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
