/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 5, 2023, 5:29:49 PM
    Author     : Dell
*/

body {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 0;
    
}

.comment-box,
.post-comment .list {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 2px #0002;
}

.comment-session {
    width: 650px;
    height: auto;
    margin: 0 auto;
}

.comment-session .name{
    text-transform: uppercase;
    font-weight: 200px;
}

.post-comment .list{
    width: 100%;
    margin-bottom: 12px;
}

.post-comment .list .user{
    display: flex;
    padding: 8px;
    overflow: hidden;
}
.post-comment .list .user img{
    height: 38px;
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.post-comment .list .day-posted{
    font-size: 12px;
}

.post-comment .content-comment{
    padding: 0 0 15px 58px;
}

.comment-box{
    padding: 10px;
    overflow: hidden;
}
.comment-box .user{
    display: flex;
    width: min-content;
}
.comment-box .image img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}
.comment-box .name{
    width: 200px;
}

.comment-box textarea{
    background-color: #EEE;
    width: -webkit-fill-available;
    height: 152px;
    margin: 10px 0;
    padding: 10px;
    resize: inherit;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #0003;
}

.comment-box .submit{
    float: right;   
    background-color: rgb(243, 54, 54);
    cursor: pointer;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
}

.comment-box .submit:hover{
    background-color: rgb(245, 20, 20);
}